<h2>{{ site.data.data.project_log.title }}</h2>

<ul>
  {% for file in site.static_files %}
    {% if file.path contains "logs/" and (file.extname == ".html" or file.extname == ".md") %}
      {% assign formatted_name = file.name | replace: "_", " " | replace: ".html", "" | replace: ".md", "" | capitalize %}
      
      {% if file.extname == ".md" %}
        {% assign file_url = file.path | replace: ".md", ".html" | relative_url %}
      {% else %}
        {% assign file_url = file.path | relative_url %}
      {% endif %}

      <li><a href="{{ file_url }}">{{ formatted_name }}</a></li>
    {% endif %}
  {% endfor %}
</ul>